{% extends "layout.html.twig" %}

    {% block title %}
        Accueil
    {% endblock %}

    {% block content %}
        <div class="row">
        <!--colleft-->
        <div class="col-md-8 col-sm-12">
            <div class="box-caption">
                <span>spotlight</span>
            </div>
            <!--sportlight-->
            <section class="owl-carousel owl-spotlight">
                {% for spotlight in spotlights %}
                <div>
                    <article class="spotlight-item">
                        <div class="spotlight-img">
                            <img alt="{{ spotlight.titre }}" src="{{ asset('images/product/' ~ spotlight.featuredImage) }}" class="img-responsive"/>
                            <a href="{{ path('default_categorie', {'slug' : spotlight.categorie.slug
                            }) }}" class="cate-tag">{{ spotlight.categorie.slug }}</a>
                        </div>
                        <div class="spotlight-item-caption">
                            <h2 class="font-heading">
                                <a href="{{ path('default_article', {
                                    'categorie' : spotlight.categorie.slug,
                                    'slug' : spotlight.slug,
                                    'id' : spotlight.id
                                }) }}">
                                    {{ spotlight.titre }}
                                </a>
                            </h2>
                            <div class="meta-post">
                                <a href="#">
                                    {{ spotlight.membre.prenom ~ ' ' ~ spotlight.membre.nom }}
                                </a>
                                <em></em>
                                <span>
							        {{ spotlight.dateCreation | date('d/m/Y') }}
						        </span>
                            </div>

                            {{ spotlight.contenu | summarize }}

                        </div>
                    </article>
                </div>
                {% endfor %}

            </section>

            <!--spotlight-thumbs-->
            <section class="spotlight-thumbs">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <div class="spotlight-item-thumb">
                                <div class="spotlight-item-thumb-img">
                                    <a href="#">
                                        <img alt="{{ article.titre }}" src="{{ asset('images/product/' ~ article.featuredImage ) }}"/>
                                    </a>
                                    <a href="{{ path('default_categorie', {'slug' : article.categorie.slug
                                    }) }}" class="cate-tag">{{ article.categorie.slug }}</a>
                                </div>
                                <h3><a href="{{ path('default_article', {
                                        'categorie' : article.categorie.slug,
                                        'slug' : article.slug,
                                        'id' : article.id
                                    }) }}">{{ article.titre }}</a>
                                </h3>
                                <div class="meta-post">
                                    <a href="#">
                                        {{ article.membre.prenom ~ ' ' ~ article.membre.nom }}
                                    </a>
                                    <em></em>
                                    <span>
							            {{ article.dateCreation | date('d/m/Y') }}
						            </span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </section>
        </div>

        {# {% include 'components/_sidebar.html.twig' %} #}

        {{ render(controller('App\\Controller\\DefaultController::sidebar')) }}
    {% endblock %}